.map{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
  min-height: 50px;
  max-width: 90%;
  left: 5%;
}
.map img {
  height: auto;
  max-width: 90%;
  z-index: 1;
}
.map-holder{
  position: relative;
  height: 100vh;
  width: 90%;
}

.pin img {
  position: absolute;
  height: auto;
  max-width: 2%;
  min-height: 20px;
  top: 19%;
  left:27%;
  z-index: 2;
}
area {
  fill: blue;
}


