.profile {
    background-color: #133667 !important;
    background: url('../img/mlh-header2.png') no-repeat center center;
    background-size: 100% 100%;
    text-align: center;
    // height: 520px;
    height: calc(100vw / 3);
    width: 100vw;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    h1 {
        // background-color: black;
        font-size: 50px;
        font-weight: 700;
        color: red;

    }

    img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: inline;
        padding: 20px;
    }

    .profile-picture {
        // background: url("../assets/img/headerbackground.jpeg");
        margin-bottom: 30px;
        height: 200px;
    }
}