.profile {
  background-color: #133667 !important;
  text-align: center;
  height: 400px;
  margin-bottom: 50px;
  h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
  }
  p {
    color: var(--textColor);
  }

  img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    padding: 20px;
  }
  
  @media only screen {
    .profile-picture {
      margin-bottom: 30px;
      height: 200px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .profile-picture {
        margin-bottom: 30px;
        height: 150px;
    }
  }

  @media only screen and (max-width: 768px) {
    .profile-picture {
        margin-bottom: 100px;
        height: 100px;
    }
  }
}