.profile {
  text-align: center;
  height: 100%;
  width: 100%;
  max-height: 300px;
  margin-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  display: table;
  background: #133667;
  background-size: 100%;
  background-image: -webkit-linear-gradient(rgba(19, 54, 103, 1), rgba(195, 55, 100, 0.62)), url("/../assets/img/background2.png");
  background-image: linear-gradient(rgba(19, 54, 103, 1), rgba(195, 55, 100, 0.62)), url("/../assets/img/background2.png");
  h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
  }
  .title{
    padding-top: 50px;
  }
  p {
    color: var(--textColor);
  }

  img {
    border-radius: 50%;
    width:  100%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  
  @media only screen {
    .profile-im-container{
      display: inline-block;
      max-width: 16%;
      aspect-ratio: 1/1;
    }
    .profile-picture {
      display: table-row;
      margin-bottom: 30px;
      transition: all 1s ease-out;

      &:hover{

        transform: scale(1.1);
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    .profile-im-container{
      display: inline-block;
      max-width: 20%;
      aspect-ratio: 1/1;
    }
    .profile-picture {
      display: table-row;
      margin-bottom: 30px;
      transition: all 1s ease-out;

      &:hover{
        transform: scale(1.1);

      }
    }
  }

  @media only screen and (max-width: 768px) {
    .profile-im-container{
      display: inline-block;
      max-width: 25%;
      aspect-ratio: 1/1;
    }
    .profile-picture {
      display: table-row;
      margin-bottom: 100px;
      transition: all 1s ease-out;

      &:hover{
        transform: scale(1.1);
      }
    }
  }

}